.post{
    max-width: 600px;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.post:hover{
    cursor: pointer;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.postLink{
    text-decoration: none;
    color: black;
}